<a href="https://colab.research.google.com/github/YoussefFathi/Data_EngineeringProject/blob/main/Project_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
#Visualize All 250 Country Data

data_250_country = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/All_250_Country_Data/250%20Country%20Data.csv",index_col=0)

data_250_country.head()

             name  ...                                   Unemployement(%)
0     Afghanistan  ...                                   35% (2008 est.).
1   Åland Islands  ...                                                NaN
2         Albania  ...  16.9% official rate (2013 est.). Note: These a...
3         Algeria  ...                                             10.3%.
4  American Samoa  ...                                                NaN

[5 rows x 10 columns]

In [36]:
#Visualize Life Expectancy Data

data_life_expectancy = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/Life_Expectancy_Data/Life%20Expectancy%20Data.csv")

data_life_expectancy.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [37]:
#Visualize World Happiness Report

data_world_happiness_2015 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2015.csv")
data_world_happiness_2016 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2016.csv")
data_world_happiness_2017 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2017.csv")
data_world_happiness_2018 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2018.csv")
data_world_happiness_2019 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2019.csv")

data_world_happiness_2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [38]:
data_world_happiness_2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [39]:
data_world_happiness_2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [40]:
data_world_happiness_2018.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [41]:
data_world_happiness_2019.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]