<a href="https://colab.research.google.com/github/YoussefFathi/Data_EngineeringProject/blob/main/Project_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
#Visualize All 250 Country Data

data_250_country = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/All_250_Country_Data/250%20Country%20Data.csv",index_col=0)

data_250_country.head()

             name  ...                                   Unemployement(%)
0     Afghanistan  ...                                   35% (2008 est.).
1   Åland Islands  ...                                                NaN
2         Albania  ...  16.9% official rate (2013 est.). Note: These a...
3         Algeria  ...                                             10.3%.
4  American Samoa  ...                                                NaN

[5 rows x 10 columns]

In [28]:
#Visualize Life Expectancy Data

data_life_expectancy = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/Life_Expectancy_Data/Life%20Expectancy%20Data.csv")

data_life_expectancy.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

In [31]:
#Visualize World Happiness Report

data_world_happiness_2015 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2015.csv")
data_world_happiness_2016 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2016.csv")
data_world_happiness_2017 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2017.csv")
data_world_happiness_2018 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2018.csv")
data_world_happiness_2019 = pd.read_csv("https://raw.githubusercontent.com/YoussefFathi/Data_EngineeringProject/main/CVs/World_Happiness_Report/2019.csv")


data_world_happiness_2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]